{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="flex-column align-items-center p-5 border-1 border rounded-5 mx-auto mt-4 icard d-flex">
        <h1 class="fw-bold user-select-none">Login</h1>
        <form action="{% url 'users:login' %}" method="post" class="d-flex flex-column w-100" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Sign in">
        </form>
        <span class="mt-1 align-self-start">
            <a href="{% url 'users:register' %}" class="link-primary">
                Don't have an account?
            </a>
        </span>
    </div>
{% endblock %}
