<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid px-5 py-2">
        <a class="nav-link text-white" href="/">
            Home
        </a>
        <div id="navbarNav">
            {% if request.user %}
                <span class="nav-item">
                        <a type="button" class="btn btn-outline-primary px-lg-4">Dashboard</a>
                </span>
            {% else %}
                <span class="nav-item">
                    <a href="{% url 'users:register' %}" type="button" class="btn btn-primary px-lg-5">Register</a>
                </span>
                <span class="nav-item">
                        <a href="{% url 'users:login' %}" type="button" class="btn btn-outline-primary px-lg-4">Login</a>
                </span>
            {% endif %}
        </div>
    </div>
</nav>